*.class
.directory
bin/
bin_test/
target/
generated/
.DS_Store
/.metadata/
workspace/
/.recommenders/
/.gradle/
_rt/
.rt/
.m2/
.bnd/
.gradle-home/
.yarn-cache/
build-cache/
cnf/cache
cnf/*/
!cnf/ext
*.prefs
.npmrc