<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.make.equo.eclipse.monaco.editor">
	<requires>
		<import plugin="org.eclipse.core.runtime" />
		<import plugin="org.eclipse.swt" />
	</requires>
	<extension point="org.eclipse.ui.editors">
		<editor
			class="com.make.equo.eclipse.monaco.editor.MonacoEditorPart"
			default="true"
			id="com.make.equo.eclipse.monaco.editor.MonacoEditorPart"
			icon="img/equo.png"
			name="Equo Editor">
		    <contentTypeBinding
               contentTypeId="org.eclipse.core.runtime.text">
            </contentTypeBinding>
		</editor>
	</extension>
	<extension
         point="org.eclipse.ui.commands">
      <command
            description="Rename"
            id="com.make.equo.eclipse.monaco.editor.rename"
            name="Rename">
      </command>
      <command
            description="Find references"
            id="com.make.equo.eclipse.monaco.editor.LSFindReferences"
            name="Find References">
      </command>
   </extension>
	<extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.make.equo.eclipse.monaco.editor.handlers.LSPRenameHandler"
            commandId="com.make.equo.eclipse.monaco.editor.rename">
      </handler>
      <handler
            class="com.make.equo.eclipse.monaco.editor.handlers.LSFindReferences"
            commandId="com.make.equo.eclipse.monaco.editor.LSFindReferences">
      </handler>
   </extension>
</plugin>
